<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="usuario && usuario.length > 0">  <!-- Verificar que los datos del usuario estén cargados -->
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <ion-img [src]="usuario[0].imagen_usuario"></ion-img>
      </ion-avatar>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [value]="usuario[0].nombre" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [value]="usuario[0].correo_electronico" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Teléfono</ion-label>
        <ion-input [value]="usuario[0].telefono" readonly></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="editarPerfil()" class="custom-yellow-button">Editar Perfil</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
