<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title>Información del Viaje</ion-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Campo de Costo -->
      <ion-item>
        <ion-label position="floating">Costo</ion-label>
        <ion-input type="number" [(ngModel)]="costo" placeholder="Ingrese el costo"></ion-input>
      </ion-item>

      <!-- Campo de Ubicación de Origen -->
      <ion-item>
        <ion-label position="floating">Ubicación de Origen</ion-label>
        <ion-input [(ngModel)]="ubicacionOrigen" placeholder="Ingrese la ubicación de origen"></ion-input>
      </ion-item>

      <!-- Campo de Ubicación de Destino -->
      <ion-item>
        <ion-label position="floating">Ubicación de Destino</ion-label>
        <ion-input [(ngModel)]="ubicacionDestino" placeholder="Ingrese la ubicación de destino"></ion-input>
      </ion-item>

      <!-- Selector de Vehículo -->
      <ion-item>
        <ion-label>Seleccionar Vehículo</ion-label>
        <ion-select [(ngModel)]="idVehiculoSeleccionado" placeholder="Seleccione un vehículo">
          <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id_vehiculo">
            {{ vehiculo.marca }} {{ vehiculo.modelo }} - {{ vehiculo.patente }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón para Agregar Viaje -->
      <ion-button expand="full" (click)="agregarViaje()">Agregar Viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
